* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border-top: 20px solid #F2A274;
    border-bottom: 20px solid #F2A274;
}

h1 {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 50px;
    width: 50%;
    border-top: 5px solid #FF7E47;
    border-bottom: 5px solid #FF7E47;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 15px 0px 15px 0px;
}

h2 {
    font-family: 'Raleway',sans-serif;
    width: 20%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 20px;
    font-weight: normal;
    /*border-bottom: 2px solid #404040;*/
    color: #000000;
    z-index: 20;
}


h3 {
    font-family: 'Raleway',sans-serif;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    font-weight: bold;
    /*border-bottom: 2px solid #404040;*/
    color: #000000;
    z-index: 20;
}

.cmsForm {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.editingButton {
    margin-top: 25px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

input {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    margin: 5px 0px 20px 0px;
    border: 2px solid #F2A274;
    border-radius: 3px;
    text-decoration: none;
}

textarea {
    font-family: 'Raleway',sans-serif;
    text-align: justify;
    border-radius: 8px;
    border: 4px solid #000000;
    margin: 10px 0px 10px 0px;
    padding: 5px;
}