* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 50px;
    width: 50%;
    border-bottom: 5px solid #FF7E47;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
}

h2 {
    font-family: 'Montserrat',sans-serif;
    margin-top: 25px;
    font-weight: normal;
    color: #000000;
    z-index: 20;
}

.cmsForm {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.editingButton {
    margin-top: 25px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}