* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    width: 50%;
    border-top: 5px solid #FF7E47;
    border-bottom: 5px solid #FF7E47;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 15px 0px 15px 0px;
}

h2 {
    font-family: 'Raleway',sans-serif;
    text-decoration: underline;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    font-weight: bold;
    /*border-bottom: 2px solid #404040;*/
    color: #000000;
    z-index: 20;
}

.loginField {
    margin: 0 auto;
    text-align: center;
}

input {
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    border: 2px solid #F2A274;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}

.loginButton {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;

}